body {
    padding-top: 50px;
  }
  
  h1, h2 {
    margin-bottom: 30px;
  }

  .neon-button-blue {
    padding: 10px 20px;
    color: #fff;
    border: 3px solid #08f;
    box-shadow: 0 0 5px #08f, 0 0 10px #08f, 0 0 15px #08f, 0 0 20px #08f;
  }
  
  .neon-button-green {
    padding: 10px 20px;
    color: #fff;
    border: 3px solid #0f0;
    box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0, 0 0 20px #0f0;
  }
  
  .neon-button-red {
    padding: 10px 20px;
    color: #fff;
    border: 3px solid #f00;
    box-shadow: 0 0 5px #f00, 0 0 10px #f00, 0 0 15px #f00, 0 0 20px #f00;
  }